*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:linear-gradient(135deg,#87CEFA,#0F172A);

}

.container{

    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;

}

.calculator{

    width:340px;

    background:#111827;

    padding:25px;

    border-radius:15px;

    border:2px solid #87CEFA;

    box-shadow:0 10px 25px rgba(0,0,0,.5);

}

h2{

    text-align:center;

    color:#87CEFA;

    margin-bottom:20px;

}

#display{

    width:100%;

    height:60px;

    border:none;

    border-radius:10px;

    margin-bottom:18px;

    text-align:right;

    font-size:28px;

    padding-right:10px;

    background:#1E293B;

    color:#87CEFA;

}

.buttons{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:10px;

}

button{

    height:55px;

    border:none;

    border-radius:10px;

    background:#38BDF8;

    color:white;

    font-size:20px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#0EA5E9;

    transform:scale(1.05);

}

.zero{

    grid-column:span 2;

}